body {
	padding-top: 10px;
	background-color: #f8f8f8;
	-background-image: -webkit-linear-gradient(top, #eee, #fff);
}

.btn + table {
	margin-top: 1em;
}


#content {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #d4d4d4), color-stop(0.8, #eee));
	border-radius: 4px;
	padding: 1px;
	box-shadow: rgba(0, 0, 0, 0.0625) 0px 1px 4px 0px;
	
}

#content > div {
	background-color: #fff;
	padding: 1em;
	border-radius: 4px;
}

td.empty {
	padding: 1em;
}
