<!DOCTYPE html>
<html>
<head>
	<meta encoding="utf-8">
	<title>Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	<link href="static/css/jquery.fileupload-ui.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
	
	<div class="container-fluid">
		
	<nav class="navbar">
	  <div class="navbar-inner">
	    <span class="brand" href="#">Na'ama CMS Admin</span>
	    <ul class="nav" data-bind="foreach: $__page__.children">
			<li data-bind="css: {active: isVisible}"><a data-bind="text: $data.val('title'), page-href: $data"></a></li>
	    </ul>
		<button class="btn pull-right" id="publish"><i class="icon-globe"></i> Publish</button>
	  </div>
	</nav>
	
	<div class="tab-content" id="content">
	    <div data-bind="page: {id: 'pages', title: 'Pages', role: 'start', with: pages}" class="tab-pane active">
			<div data-bind="page: {id: 'list', role: 'start', params: {'dir': '/'}, beforeShow: refresh, afterShow: showList, beforeHide: hideList}">
				<h3 data-bind="text: dir"></h3>
				
				<div class="btn-group">
					<button class="btn" data-bind="click: newPage"><i class="icon-plus"></i> New Page</button>
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a data-bind="click: newPage">New Page...</a></li>
						<li><a data-bind="click: newFolder">New Folder...</a></li>
						<li><a data-bind="click: uploadFile">Upload File...</a></li>
					</ul>
				</div>
				
				<table class="table table-bordered table-condensed table-hover" >
					<thead>
						<tr><th>Name</th></tr>
					</thead>
					<tbody>
						<tr data-bind="visible: dir() != '/'"><td><i class="icon-arrow-up"></i> <a data-bind="page-href: {path: '../list', params: {dir: parentDir(dir())}}">..</td></tr>
						<!-- ko foreach: list -->
						<tr><td>
							<!-- ko if: 'd' == type -->
								<i class="icon-folder-close-alt"></i>
								<a data-bind="text: name, page-href: {path: '../list', params: {dir: $parent.dir() + '/' + name}}"></a>
							<!-- /ko -->
							<!-- ko if: 'f' == type -->
								<i class="icon-file-alt">&nbsp;</i>
								<a data-bind="text: name, page-href: {path: '../edit', params: {dir: $parent.dir() + '/' + name}}"></a>
							<!-- /ko -->
							<a href="#" data-bind="click: $parent.remove" class="btn btn-mini btn-danger pull-right">Delete</a>
								
						</td></tr>
						<!-- /ko -->
					</tbody>
				</table>
				
				

				
				
				<!-- UPLOAD Modal -->
				<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="uploadModalLabel">Upload File</h3>
					</div>
					<div class="modal-body">
						<form id="fileupload" method="POST" enctype="text/plain">
			                <span class="btn btn-success fileinput-button">
			                    <i class="icon-plus icon-white"></i>
			                    <span>Add files...</span>
			                    <input type="file" name="files[]" multiple>
			                </span>
			                <button type="submit" class="btn btn-primary start">
			                    <i class="icon-upload icon-white"></i>
			                    <span>Start upload</span>
			                </button>
				            <div class="span5 fileupload-progress fade">
				                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				                    <div class="bar" style="width:0%;"></div>
				                </div>
				                <div class="progress-extended">&nbsp;</div>
				            </div>
				        </div>
				        <div class="fileupload-loading"></div>
				        <br>
				        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>

						</form>
						
						
						
						<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
			
			<div data-bind="page: {id: 'edit', params: {'dir': '/index.md'}, beforeShow: load, afterShow: showEditor, beforeHide: hideEditor}">
				<h3 data-bind="text: dir"></h3>
				<form data-bind="submit: save">
					
					<div class="btn-toolbar">
						<div class="btn-group">
						  <button class="btn" title="heading 1" data-bind="click: h1">h1</button>
						  <button class="btn" title="heading 2" data-bind="click: h2">h2</button>
						  <button class="btn" title="heading 3" data-bind="click: h3">h3</button>
						</div>
						
						<div class="btn-group">
						  <button class="btn" title="link"  data-bind="click: link" ><i class="icon-link"></i></button>
						  <button class="btn" title="image" data-bind="click: image"><i class="icon-picture"></i></button>
						</div>
						
						<div class="btn-group">
						  <button class="btn" title="bold"   data-bind="click: bold"  ><i class="icon-bold"  ></i></button>
						  <button class="btn" title="italic" data-bind="click: italic"><i class="icon-italic"></i></button>
						</div>
						
						<div class="btn-group">
						  <button class="btn" data-bind="click: ul" title="unordered list"><i class="icon-list-ul"></i></button>
						  <button class="btn" data-bind="click: ol" title="ordered list"><i class="icon-list-ol"></i></button>
						</div>
					</div>
					
					<div id="epiceditor"></div>
					
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="save btn btn-success"><i class="icon-save"></i> Save</button>
							<button type="button" class="btn cancel" data-bind="click: cancel">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		
		
   	    <div data-bind="page: {id: 'dates', title: 'Dates', with: dates, beforeShow: dates.refresh}" id="dates" class="tab-pane">

			<div data-bind="page: {id: 'start', title: 'List of Dates'}">

				<a class="add btn btn-small" data-bind="page-href: '../add'"><i class="icon-plus"></i> Add</a>
				<table class="table table-striped table-bordered table-condensed table-hover" >
					<thead>
						<tr><th>Date</th><th>Description</th><th> </th></tr>
					</thead>
					<tbody data-bind="visible: 1 > list().length">
						<tr><td colspan="3" class="empty">No Dates yet, you can add some by clicking "Add".</td></tr>
					</tbody>
					<tbody data-bind="foreach: list, visible: list().length > 0">
					<tr><td data-bind="text: date"></td><td data-bind="text: description"></td><td>
						<a href="#" data-bind="page-href: '../' + $index()" class="btn btn-mini">Edit</a>
						<a href="#" data-bind="click: $parent.remove" class="btn btn-mini btn-danger">Delete</a>
					</td></tr>
					</tbody>
				</table>
			</div>
			<div data-bind="page: {id: 'add', title: 'Add Date', beforeShow: beforeAdd}">
				<h3>Add Date</h3>
				<form data-bind="submit: add" class="form-horizontal">
					<div data-bind="template: { name: 'dateForm' }"></div>
				</form>
			</div>
			<div data-bind="page: {id: '?', nameParam: 'id', title: 'Edit Date', beforeShow: beforeEdit}">
				<h3>Edit Date</h3>
				<form data-bind="submit: edit" class="form-horizontal">
					<input type="hidden" name="id" data-bind="value: id">
					<div data-bind="template: { name: 'dateForm' }"></div>
				</form>
			</div>
		</div>
	</div>
	</div>
	
	
	<script id="dateForm" type="text/html">
		<div class="control-group">
			<label class="control-label" for="datum">Date</label>
			<div class="controls"><input type="text" data-bind="value: form.date"></div>
			</div>
		<div class="control-group">
			<label class="control-label" for="datum">Description</label>
			<div class="controls"><input type="text" data-bind="value: form.description"></div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="save btn btn-success"><i class="icon-save"></i> Save</button>
				<button type="button" class="btn cancel" data-bind="click: cancel">Cancel</button>
			</div>
		</div>
	</script>
	
	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-upload fade">
	        <td class="preview"><span class="fade"></span></td>
	        <td class="name"><span>{%=file.name%}</span></td>
	        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
	        {% if (file.error) { %}
	            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
	        {% } else if (o.files.valid && !i) { %}
	            <td>
	                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
	            </td>
	            <td>{% if (!o.options.autoUpload) { %}
	                <button class="btn btn-primary start">
	                    <i class="icon-upload icon-white"></i>
	                    <span>Start</span>
	                </button>
	            {% } %}</td>
	        {% } else { %}
	            <td colspan="2"></td>
	        {% } %}
	        <td>{% if (!i) { %}
	            <button class="btn btn-warning cancel">
	                <i class="icon-ban-circle icon-white"></i>
	                <span>Cancel</span>
	            </button>
	        {% } %}</td>
	    </tr>
	{% } %}
	</script>
	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-download fade">
	        {% if (file.error) { %}
	            <td></td>
	            <td class="name"><span>{%=file.name%}</span></td>
	            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
	            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
	        {% } else { %}
	            <td class="preview">{% if (file.thumbnail_url) { %}
	                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
	            {% } %}</td>
	            <td class="name">
	                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
	            </td>
	            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
	            <td colspan="2"></td>
	        {% } %}
	        <td>
	            <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
	                <i class="icon-trash icon-white"></i>
	                <span>Delete</span>
	            </button>
	            <input type="checkbox" name="delete" value="1" class="toggle">
	        </td>
	    </tr>
	{% } %}
	</script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.3.5/knockout.mapping.js"></script>
	<script src="static/js/lib/pager.js"></script>
	<script src="static/js/lib/bootbox.min.js"></script>
	<script src="static/js/lib/jquery.ui.widget.js"></script>
	<script src="static/js/lib/jquery.iframe-transport.js"></script>
	<script src="static/js/lib/jquery.fileupload.js"></script>
	<script src="static/js/lib/jquery.fileupload-ui.js"></script>
	<script src="static/js/lib/EpicEditor/epiceditor/js/epiceditor.js"></script>
	<script src="static/js/path.js"></script>
	<script src="static/js/admin.js"></script>
</body>
</html>